<div id ="projects" class="text-center part">
  <h2 class="mt-5 mb-5">Projects.</h2>
    <div class="row justify-content-center">
    <% data.projects.each do |project| %>
        <div  <%= project.under_construction %> style="width:auto;">
        <div class="card-trip">
          <h3 class="name"><%= project.name %></h3>
          <div class="tech-list">
              <% project.tech.each do |tech| %>
                <i class="<%= tech %>"></i>
              <% end %>
          </div>
          <button class="btn btn-lg btn-outline-secondary modal-button" data-toggle="modal" data-target="#modal-<%= project.name %>">Learn more.</button>
              <%= image_tag project.image[0] %>
        </div>
      </div>
  <% end %>
</div>
</div>


<!-- Modal -->
<% data.projects.each do |project| %>
  <div class="modal fade" id="modal-<%=project.name%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
<!-- carousel  start-->
  <div id="control-<%=project.name%>" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag project.image[0], class: "d-block w-100", alt: "First slide"  %>
      </div>
      <div class="carousel-item">
        <%= image_tag project.image[0], class: "d-block w-100", alt: "Second slide"  %>
      </div>
      <div class="carousel-item">
        <%= image_tag project.image[0], class: "d-block w-100", alt: "Third slide"  %>
      </div>
    </div>
    <a class="carousel-control-prev" href="#control-<%=project.name%>" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#control-<%=project.name%>" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
<!-- carousel end -->
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"><%= project.name %></h5>
        </div>
        <div class="modal-body">
          <%= project.description %>
        </div>
        <div class="modal-footer">
          <div class="url">
            <a class="btn btn-lg btn-outline-secondary" href="<%= project.url %>" target="_blank">View site.</a>
          </div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>
  </div>
<% end %>
