<div id ="projects" class="text-center part">
  <h2 class="mt-5 mb-5">Projects.</h2>
    <div class="row justify-content-center">
    <% data.projects.each do |project| %>
        <div  <%= project.under_construction %> style="width:auto;">
        <div class="card-trip">
          <h3 class="name"><%= project.name %></h3>
          <div class="tech-list">
              <% project.tech.each do |tech| %>
                <i class="<%= tech %>"></i>
              <% end %>
          </div>
          <button class="btn btn-lg btn-outline-secondary modal-button">Learn more.</button>
          <%= image_tag project.image %>
          <%# <div class="card-trip-infos"> %>
            <%# <div class="info-name-desc"> %>
              <%# <h3><%= project.name %></h3> %>
              <%# <p><%= project.description %></p> %>
            <%# </div> %>
          <%# </div> %>

        </div>
      </div>
  <% end %>
</div>
</div>
